.reg_form{
    width: 30%;
    height: 55%;
}
.login_form{
    width: 30%;
    height: 45%;
}
.reg_form, .login_form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 2px solid black;
    padding: 15px;
    margin: 100px auto;
}
.reg_form:valid, .login_form:valid{
    background: linear-gradient(to right, rgba(102, 186, 255, 0.507), rgba(129, 255, 2, 0.445));
}
.reg_form:invalid, .login_form:invalid{
    background: linear-gradient(to right, rgba(102, 186, 255, 0.507), rgba(255, 2, 2, 0.158));
}
.reg_form_wrap, .login_form_wrap{
    display: flex;
}
.login_form_linkToReg{
    padding-top: 30px;
}
.login_form_linkToReg a {
    color:  rgb(158, 47, 47);
    font-size: 120%;
    font-family: 'RevillionHQ', sans-serif;
}