/* Styles Pages */
.home{
    width: 100%;
    height: 100%;
}
.animals,.contacts,.login,.reg{
    width: 80%;
    height: 80%;
    /* margin: 4% auto auto auto; */
    background-color: rgba(255, 255, 255, 0.384);
}
.animals{
    background-color: rgba(59, 78, 26, 0.795);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.animals_content{
    display: flex;
    height: 80%;
}
.animals_content_text{
    width: 38%;
    padding: 15px 15px 0 15px;
    color: white;
    clear: right;
    text-indent: 20px;
}
.animals_content_reviewAnimal{
    width: inherit;
    width: 60%;
}
.contacts{
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 10%;
}
.reg {
    width: 80%;
    height: 80%;
}
/* end Styles Pages */
