.listAnimals {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    height: 20%;
}
.listAnimals_item {
    display: inherit;
    min-width: 20%;
}
.listAnimals_item_image{
    width: 100%;
    height: 100%;
}
.listAnimals_text{
    padding: 20px;
    font-size: 110%;
    color: white;
}